.ControlledForm{
    height: fit-content;
    width: 70%;
    border: solid 6px rgb(114, 175, 224);
    margin: 10%;
    padding: 2%;
    justify-content: space-between;
}
.UncontrolledForm{
    height: fit-content;
    width: 70%;
    border: solid 6px rgba(231, 122, 145, 0.596);
    margin: 10%;
    padding: 2%;
    justify-content: space-between;
}
